.App {
  margin: 50px;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.para1,.para2{
  margin: 20px red ;
  color: aqua;
  font-size: 30px;
}

.tittle{
  color: rgb(87, 86, 86);
  font-size: 2.1em;
  font-weight: bold;
  font-family: sans-serif;

}
.container{
  display: flex;
  margin: auto;
  width: 80%;
  padding: 30px;
 
  
}
.box{
  margin: 20px;
  
}
img{
  height: 325px;
  width: 250px; 
}
.nom{
  font-weight: 700;
}
.des{
  color: gray;
  font-size: 1em;
  font-weight: 500;
}
.name{
  color: white;
  font-size: 1em;
  padding: 3px;
  border: 1px gray;
}
.head{
  color: rgb(73, 73, 73);
}
.program{
  width:350px;
  height: 300px;
  padding: 20px;
}
.all{
  display: flex;
  height: 800px;
}